[mysqld_multi]
mysqld=/apps/svr/mysql5/bin/mysqld_safe
mysqladmin=/apps/svr/mysql5/bin/mysqladmin
user=root
log=/apps/logs/mysql/multi.log
 
 
[mysqld]
 
 
#**********************Server**************************
#******server start related
user=apps 
bind-address=0.0.0.0 
port=3306 
#port-open-timeout= 
server-id=1
#chroot 
#init-file=file_name 
#core-file=OFF 
#skip-grant-tables 
 
 
#******location
basedir=/apps/svr/mysql5
pid-file=/apps/dbdat/mysql5_data3306/mysql.pid 
socket=/tmp/mysql3306.sock 
datadir=/apps/dbdat/mysql5_data3306
tmpdir=/apps/tmp
 
 
#******security
#secure-auth 
safe-user-create 
#skip-show-database 
max_user_connections=2980 
max_connect_errors=100000 
#secure-file-priv=path 
#max_prepared_stmt_count= 
#skip-ssl 
#ssl-ca=file_name 
#ssl-capath=directory_name 
#ssl-cert=file_name 
#ssl-cipher=cipher_list 
#ssl-key=file_name 
 
 
#******features
default-storage-engine=InnoDB 
#ansi 
#sql-mode= 
#auto_increment_increment=1 
#auto_increment_offset=1 
#div_precision_increment=4 
event-scheduler=on 
#skip-event-scheduler 
#flush 
#flush_time= 
#old 
#old-alter-table 
#old-style-user-limits 
partition 
#skip-partition 
#plugin_dir= 
#plugin-load=plugin_list 
#symbolic-links 
#skip-symbolic-links 
lock_wait_timeout=600 
#sync_frm 
#temp-pool 
#updatable_views_with_limit 
 
 
#******function
#allow-suspicious-udfs 
#des-key-file=file_name 
group_concat_max_len=10240 
#max_long_data_size= 
sysdate-is-now 
#default_week_format= 
 
 
#******character set&time zone etc..
character-set-server=utf8 
collation-server=utf8_general_ci 
#character-set-client-handshake 
#skip-character-set-client-handshake 
character-set-filesystem=utf8 
#character-sets-dir= 
#lower_case_file_system 
lower_case_table_names=1 
#lc-messages= 
#lc-messages-dir= 
#default-time-zone= 
 
 
#******buffer&cache
#memlock 
#large-pages 
join_buffer_size=128K 
sort_buffer_size=8m 
table_open_cache=1024 
table_definition_cache=1024 
#range_alloc_block_size= 
#query_prealloc_size= 
#query_alloc_block_size= 
#stored_program_cache= 
 
 
#*****query cache
query_cache_type=0 
query_cache_size=0 
#query_cache_min_res_unit= 
query_cache_limit=0 
#query_cache_wlock_invalidate 
 
 
#******thread&connection
thread_handling=one-thread-per-connection 
#slow_launch_time= 
#init_connect= 
back_log=300 
thread_cache_size=512 
max_connections=3000 
 
 
#******temptable
#big-tables 
tmp_table_size=64m 
max_heap_table_size=64m 
 
 
#******network
#skip-networking 
skip-name-resolve 
#skip-host-cache 
net_buffer_length=8k 
max_allowed_packet=64m 
connect_timeout=10 
wait_timeout=120 
interactive_timeout=120 
net_read_timeout=3 #set to 10 if across IDC
net_write_timeout=6 #set to 10 if across IDC
net_retry_count=2 #set to 5 if across IDC
 
 
#*****profile&optimizer
#profiling 
profiling_history_size=5 
#optimizer_prune_level= 
#optimizer_search_depth= 
#optimizer_switch= 
#max_seeks_for_key=1000 
max_length_for_sort_data=4096 
 
 
#******limitation
#max_error_count= 
#max_join_size= 
#max_sort_length= 
#max_sp_recursion_depth= 
open-files-limit=8192 
#thread_stack=512k 
 
 
#**********************Logs****************************
log-output=FILE 
 
 
#*****error log
log-error=/apps/logs/mysql/error3306.log 
log-warnings 
#skip-log-warnings 
 
 
#*****slow log
slow-query-log 
slow_query_log_file=/apps/logs/mysql/slow3306.log 
long_query_time=0.300 
#log-queries-not-using-indexes 
log-slow-admin-statements 
log-slow-slave-statements 
min-examined-row-limit=10 
 
 
#*****general log
#general-log 
#general_log_file=/apps/logs/mysql/query.log 
 
 
#**********************Replication*********************
skip-slave-start 
read_only 
#init_slave= 
master-info-file=master.info 
#sync_master_info=1000 
#slave_type_conversions= 
#slave_transaction_retries= 
#slave_exec_mode= 
#slave-skip-errors=1062 1064 1146 #only for 216
slave-load-tmpdir=/apps/tmp
 
 
#******network
#slave_compressed_protocol #for RBR
#slave-max-allowed-packet= 
slave-net-timeout=30 
#master-retry-count= 
 
 
#******report
#show-slave-auth-info 
#report-host= 
#report-password= 
#report-port= 
#report-user= 
 
 
#*****binlog
log-bin=/apps/dbdat/mysql5_data3306/log/mysql-bin
log-bin-index=/apps/dbdat/mysql5_data3306/log/mysql-bin.index 
#sync_binlog=100         #close for sas
binlog-format=MIXED 
max_binlog_size=512m 
expire_logs_days=3 
binlog_cache_size=256K 
max_binlog_cache_size=256m #increase this for RBR
binlog_stmt_cache_size=32k 
max_binlog_stmt_cache_size=256m 
binlog-row-event-max-size=256m 
#log-short-format 
log_slave_updates 
#log-bin-trust-function-creators 
#binlog_direct_non_transactional_updates 
 
 
#*****relaylog
relay-log=relay-bin 
relay-log-index=relay-bin.index 
relay-log-info-file=relay-log.info 
#sync_relay_log=1000 
#sync_relay_log_info=1000 
#max_relay_log_size= 
relay_log_space_limit=100G 
relay_log_purge=1 
#relay_log_recovery 
 
 
#******filter
#binlog-do-db= 
#binlog-ignore-db=test
#binlog-ignore-db=log
#replicate-do-db= 
#replicate-ignore-db= 
#replicate-do-table= 
#replicate-ignore-table= 
#replicate-wild-do-table= 
#replicate-wild-ignore-table= 
#replicate-same-server-id 
#replicate-rewrite-db= 
 
 
#**********************InnoDB**************************
innodb_data_home_dir=/apps/dbdat/mysql5_data3306
innodb_data_file_path=ibdata1:1000M:autoextend 
innodb_log_group_home_dir=/apps/dbdat/mysql5_data3306
innodb_log_files_in_group=4 
innodb_log_file_size=1000M 
 
 
#*****feature
innodb_open_files=4096 
innodb_change_buffering=inserts 
innodb_adaptive_hash_index=ON 
innodb_autoinc_lock_mode=1 
#innodb_large_prefix 
#innodb_strict_mode 
#innodb_use_sys_malloc= 
 
 
#******buffer&cache
innodb_buffer_pool_size=32G 
innodb_buffer_pool_instances=4 
innodb_max_dirty_pages_pct=50 
innodb_old_blocks_pct=25 
innodb_old_blocks_time=3000 
innodb_additional_mem_pool_size=32m 
innodb_log_buffer_size=8m 
 
 
#******IO
innodb_flush_method=O_DIRECT 
innodb_use_native_aio 
innodb_adaptive_flushing 
innodb_flush_log_at_trx_commit=2 
innodb_io_capacity=1200 
innodb_read_io_threads=4 
innodb_write_io_threads=4 
innodb_read_ahead_threshold=56 
innodb_doublewrite 
innodb_purge_threads=1 
innodb_purge_batch_size=20 
#innodb_max_purge_lag= 
 
 
#*****fileformat
innodb_file_per_table 
innodb_autoextend_increment=32 
innodb_file_format=Barracuda 
#innodb_file_format_check= 
#innodb_file_format_max= 
 
 
#******static&status
#innodb_stats_on_metadata 
innodb_stats_sample_pages=32 
innodb_stats_method=nulls_unequal 
#timed_mutexes 
#innodb-status-file 
 
 
#******recovery&related
innodb_fast_shutdown=1 
#innodb_force_load_corrupted 
#innodb_force_recovery= 
innodb_checksums 
 
 
#******transaction,lock,concurrency,rollback
autocommit=1 
transaction-isolation=REPEATABLE-READ 
#transaction_prealloc_size=64k 
#transaction_alloc_block_size=64k 
completion_type=NO_CHAIN 
innodb_support_xa 
 
 
innodb_table_locks 
innodb_lock_wait_timeout=30 
#innodb_locks_unsafe_for_binlog 
innodb_spin_wait_delay=12 
innodb_sync_spin_loops=90 
 
 
innodb_commit_concurrency=0 
innodb_thread_concurrency=32       #at least equal cpu nums 
#innodb_concurrency_tickets=500 
#innodb_replication_delay=0 
#innodb_thread_sleep_delay= 
 
 
#innodb_rollback_on_timeout 
#innodb_rollback_segments=128 
 
 
#**********************MyISAM**************************
#******feature
#myisam_data_pointer_size= 
#myisam_use_mmap 
#keep_files_on_create 
myisam-block-size=4096 
delay-key-write=on 
#preload_buffer_size 
myisam_stats_method=nulls_unequal 
#myisam-recover-options=OFF 
myisam_repair_threads=1 
 
 
#******buffer&cache
key_buffer_size=2048M 
key_cache_block_size=4096 
key_cache_age_threshold=300 
key_cache_division_limit=20 
read_buffer_size=1m 
read_rnd_buffer_size=2m 
myisam_sort_buffer_size=32m 
 
 
#*******delayed insert
#delayed_queue_size= 
#max_delayed_threads= 
#delayed_insert_limit= 
#delayed_insert_timeout= 
 
 
#******fulltext
#ft_boolean_syntax= 
#ft_max_word_len= 
#ft_min_word_len= 
#ft_query_expansion_limit= 
#ft_stopword_file=file_name 
 
 
#******limitation
bulk_insert_buffer_size=8m 
myisam_max_sort_file_size=10G 
#myisam_mmap_size= 
 
 
#******lock&concurrency
#external-locking 
skip-external-locking 
 
 
concurrent_insert=AUTO 
#skip-concurrent-insert 
max_write_lock_count=10000 
#low-priority-updates 
 
 
#********************performance_schema****************
performance_schema=1 
#performance_schema_events_waits_history_long_size= 
#performance_schema_events_waits_history_size= 
#performance_schema_max_cond_classes= 
#performance_schema_max_cond_instances= 
#performance_schema_max_file_classes= 
#performance_schema_max_file_handles= 
#performance_schema_max_file_instances= 
#performance_schema_max_mutex_classes= 
#performance_schema_max_mutex_instances= 
#performance_schema_max_rwlock_classes= 
#performance_schema_max_rwlock_instances= 
#performance_schema_max_table_handles= 
#performance_schema_max_table_instances= 
#performance_schema_max_thread_classes= 
#performance_schema_max_thread_instances= 
 
 
#**************************federated********************
federated
 
 
[mysqldump]
quick
max_allowed_packet = 2G
log-error=/apps/logs/mysql/dump.log
net_buffer_length=8k 
 
 
[mysql]
no-auto-rehash
no-beep
default-character-set = utf8
socket=/tmp/mysql3306.sock
prompt="\\U : \\d \\R:\\m:\\s> "
#tee="/apps/logs/mysql/audit.log" 
#pager="less -i -n -S" 
net_buffer_length=64K
unbuffered
 
[mysqladmin]
default-character-set = utf8
socket=/tmp/mysql3306.sock
 
[myisamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M
 
 
[mysqlhotcopy]
interactive-timeout
 
 
[mysqld_safe]
open-files-limit = 8192
ledir = /apps/svr/mysql5/bin
